{% extends 'core/base.html' %}
{% load aux_tags %}
{% load staticfiles %}
{% block title %}{{ user_visited.first_name }} ({{ user_visited.username }}) - Private Chat{% endblock %}

{% block body %}
<script type="text/javascript">
	var b = {{ user_visited.pk }};
</script>

<div class="container">
		<div class="card" style="width: 75rem; max-height: 80rem;">
			<div class="card-body">
				<p>{{user_visited.first_name}}</p>
				<span>Last logged in: {{ user_visited.last_login }}</span>

				<div class="col-xs-2">
					<div class="btn-group pull-right" style="align: right;">
						<button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Settings
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
							<li class="hoverLiFix" data-toggle="modal" data-target="#modalDelete">Delete all messages</li>
						</ul>
					</div>
							<!-- Modal -->
							<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title" id="myModalLabel">Delete all messages</h4>
							      </div>
							      <div class="modal-body">
							        When you complete this action, you will delete this conversation for yourself and {{ user_visited.first_name }}.
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							        <button type="button" class="btn btn-danger" onclick="delete_chat('{{ user_visited.pk }}')">Delete</button>
							      </div>
							    </div>
							  </div>
							</div>
					  	</div>
				</div>
				  <div class="card-body">
					<div class="card messages" style="max-width: 70rem; max-height: 30rem;">
							<ul>
								{% for message in messages %}
								{% if message.emitter != request.user %}
								<li class="clearfix">
									<div class="message-data float-left">
										<span class="message-data-time">{{ message.date_message|format_date_chat }}</span>
										<span class="message-data-name">{{ message.emitter.first_name }}</span> <i class="fa fa-circle me"></i>
										<p class="message other-message float-left">{{ message.text }}</p>
									</div>
								</li>
								{% else %}
								<li class="clearfix">
									<div class="message-data float-right">
										<span class="message-data-time">{{ message.date_message|format_date_chat }}</span>
										<span class="message-data-name">{{ message.emitter.first_name }}</span>
										<p class="message my-message float-right">{{ message.text }}</p>
									</div>
								</li>
								{% endif %}
							{% empty %}
								<div id="information"><h4 class="color-black">You and {{ user_visited.first_name }} have no messages or they have been deleted. start a chat now! :)</h4></div>
							{% endfor %}
								<li class="clearfix" id="newmessage">
									<div class="message-data float-right">
										<span class="message-data-time" id="new-message-time"></span>
										<span class="message-data-name" id="new-message-name">{{ message.emitter.first_name }}</span>
										<p class="message my-message float-right" id="new-message-text"></p>
									</div>
								</li>
							</ul>

							<div id="alertvisualized" class="float-right txtvisualized"></div>
					</div>

				  </div>
				  <div class="card-footer pfotin">

					  <div class="form-group">
						  <textarea id="field" class="form-control" rows="2" placeholder="Enter your message here..."></textarea>

						  <button id="benviar" class="btn btn-primary btn-sm pull-right buttonmsg" onclick="send_message()">Send Message</button>
						  <div class="col-xs-7 col-sm-5 col-md-5 col-lg-3 pull-right buttonmsg">
						  	 <input style="display: none;" type="checkbox" name="press-enter" value="enter" id="checkenter" checked="true">
						  </div>

					  </div>
				  </div>
		</div>
</div>

<div class="space"></div>

<script language="javascript" src="{% static 'core/js/chat.js' %}"></script>
{% endblock %}